
 
<div class="container">
    <p class="titre">TESTING FOR TABLES!</p>
   
<p-table [value]="dataModel"  style="text-align:center;" responsiveLayout="scroll">
  
    <ng-template pTemplate="header">
        <tr style="text-align: center;">
            <th style="width:171px">Code</th>
            <th style="width:171px">Description</th>         
            <th style="width: 131px;">Nome</th>
            <th style="width: 131px;">Cognome</th>
         
        </tr>
    </ng-template>
    <ng-template   pTemplate="body" style=" height: 200px;" let-dataModel>
        <tr  style="width: 167px;">
            <td>{{dataModel.recordId}}</td>
            <td>{{dataModel.code}}</td>
            <td>{{dataModel.description}}</td>
            <td>{{dataModel.nome}}</td>
         
        </tr>
    </ng-template>
</p-table>
</div>
